.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.big{
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-left: 19px;

}

.big span{
    font-size: 108px;
    text-transform: uppercase;
    font-weight: 800;
    margin: -30px;
}

.small{
 
}

.small p{ 
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 36px;
    font-weight: 600;
    color: #5A5959;
    margin-left: -11px;
    text-shadow: 0px 0px 0.1px #5A5;
   }

.small button{
    width: 150px;
    font-size: 16px;
    height: 41px;
    margin-top: 14px;
    background-color: #d01c28;
    color: #fff;
    border: 1px solid #d01c28;
    font-size: 25px;
    margin-left: -11px;
    font-weight: 500;
    padding: 6px 0px;
    cursor: pointer;
   }


 .one{
    margin-left: -554px;
 }  

 #btn-2{
    margin-left: 40px;
    background: #fff;
    color: #5a5959;
    border: 1px solid black;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 1px 0px 0px;
    width: 141px;
 }

.foot{
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    margin-bottom: 108px;
    margin-left: -10px;
}

.foot span{
    color: #5a5959;
    font-size: 15px;
    font-weight: 400;
}

.foot img{
    width: 30px;
    margin-top: 13px;
}


.foot .img-2{
    margin-left: 18px;
}

.two img{
    height: 71%;
    width: 762px;
    position: absolute;
    margin-top: -287px;
    margin-left: -81px;
    filter: drop-shadow(18px 21px 30px #7b7a7a);
    color: #797979;
}