.head{
    display: flex;
    align-items: center;
    gap: 24%;
}

.head img{
    margin-left: 7%;
    position: relative;
    width: 77px;
    padding: 10px;
    margin-top: 4px;
}

.list1{
    display: flex;
    margin-left: -62px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.head button{
    color: #fff;
    background: #d01c28;
    border: 1px solid #d01c28;
    width: 74px;
    font-size: 16px;
    height: 28px;
    margin-top: 8px;
    margin-left: -43px;
}

